{% extends "base.html" %}

{% block content %}

<br>
{% block back %}
{% endblock %}
<br>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Product</th>
        <th scope="col">Price</th>
        <th scope="col">Amount</th>
        <th scope="col">Total</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">{{ product.name }}</th>
        <td>{{ product.price }}</td>
        <td>{{ amount }}</td>
        <td>{{ total }}</td>
    </tr>
    </tbody>
</table>
<form method="post" action="/products/{{ product.id }}/buy/confirm">
    <input type="hidden" id="productAmount" name="productAmount" value="{{ amount }}">
    <input type="hidden" id="productId" name="productId" value="{{ product.id }}">
    <input type="hidden" id="productPrice" name="productPrice" value="{{ product.price }}">
    <br>
    <h4>Pay with PayPal:</h4>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="paypal" value="paypal" checked>
        <label class="form-check-label" for="paypal">
            PayPal
        </label>
    </div>
    <div>
        <label for="email">Enter your e-mail:</label><br>
        <input type="text" id="email" name="email"/>
    </div>
    <br>
    <h4>Pay with credit card:</h4>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="card" value="card">
        <label class="form-check-label" for="card">Card</label>
    </div>
    <div>
        <label for="name">Enter full name:</label><br>
        <input type="text" id="name" name="name"/>
    </div>
    <br>
    <div>
        <label for="number">Enter card number:</label><br>
        <input type="text" id="number" name="number"/>
    </div>
    <br>
    <div>
        <label for="cvc">Enter cvc:</label><br>
        <input type="text" id="cvc" name="cvc"/>
    </div>
    <br>
    <div>
        <button type="submit" class="btn btn-outline-dark" name="submit">Confirm</button>
    </div>
</form>
{% endblock %}