{% extends "base.html" %}

{% block content %}

<br>
{% block back %}
{% endblock %}
<br>
{% if purchaseConfirmed != "" %}
<h3>{{ purchaseConfirmed }}</h3>
{% endif %}
<br>
<div class="flex-container">
    {% for product in products %}
    <div class="card-deck">
        <div class="card text-white bg-dark mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">
                    Price: {{ product.price }} EUR
                    <br>
                    Available amount: {{ product.availableAmount }}
                </p>
                <p class="card-text">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link white" href="/products/{{ product.id }}">View</a>
                    </li>
                </ul>
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
